<% include ./partials/header %>

<h1 style="text-align: center;">Sign up</h1>
<div style="width: 30%; margin: 20px auto;">
	<form action="/register" method="POST">
		<input class="form-control" type="text" name="username" placeholder="username">
		<input class="form-control" type="password" name="password" placeholder="password">
		<button class="btn btn-primary">Sign Up</button>
	</form>
</div>


<% include ./partials/footer %>